body {
    font-size: 1rem;
}

#page-container {
    position: absolute;
    background: #fff;
    bottom: 0px;
    top: 48px;
    width: 100%;
}

#sider {
    width: 200px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    height: 100%;
    background: #f7f7f7;
    z-index: 2;
    top: 48px;
    border-right: solid 1px #ddd;
}

#main-content {
    padding: 10px;
    border-left: solid 200px transparent;
    z-index: 1;
    height: 100%;
}

.toolbar {
    margin: -10px;
    margin-bottom: 10px;
    height: 50px;
    background: #efefef;
    padding: 10px;
    right: 10px;
    left: 210px;
}

.toolbar.fixed {
    position: fixed;
    top: 58px;
}

hr {
    border: none;
    border-top: solid 1px #ddd;
}

.navbar {
    display: block;
    height: 48px;
    border-bottom: 1px solid #e9e9e9;
    font-size: 1.2em;
    width: 100%;
    background: #404040;
}

.navbar.fixed {
    position: fixed;
    top: 0;
    z-index: 9;
}

.left {
    float: left;
}

.right {
    float: right;
}

.ant-input[disabled] {
    border: none;
    cursor: text;
}

.missive_result {
    max-width: 780px;
}

.missive_result h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: red;
}

.missive_result h1 span {
    font-size: .5rem;
    color: #333;
    display: block;
    line-height: 20px;
}

.missive_result .table {
    border: solid 1px red;
    margin: 10px;
}

.missive_result .ant-row {
    border-bottom: solid 1px red;
}

.flownode {
    min-height: 80px;
    padding: 10px;
}

.flownode .datetime {
    padding-left: 10px;
}

.flownode span {
    display: inline-block;
}

.flownode .bottom {
    position: absolute;
    text-align: right;
    bottom: 10px;
    right: 10px;
}

.ant-timeline .flownode-sign {
    color: #108ee9;
    display: inline-block;
}

.ant-timeline .flownode-datetime {
    display: inline-block;
    margin-left: 20px;
}

.ant-timeline .flownode-content {
    display: block;
    font-size: 1rem;
    color: #111;
}

.sub-timeline {
    padding: 10px;
    padding-left: 20px;
    background: #eee;
    border-radius: 5px;
    margin: 10px;
}

.sub-timeline .ant-timeline-item {
    padding: 0;
}

.sub-timeline .ant-timeline-item-last .ant-timeline-item-content {
    min-height: 20px;
}

.car-image {
    overflow: hidden;
    background: #eee;
}

.car-image img {
    width: 100%;
    height: 120px;
}

.cardbar {
    text-align: center;
    padding: 10px;
}

.feeds .ant-card {
    margin: 30px 20px;
}

.feeds .ant-card-head-title {
    font-size: .8rem;
    color: #999;
}

.feeds .ant-card-head-title span {
    display: inline-block;
    padding: 0 10px;
}

.toolbar h2 {
    display: block;
    float: left;
    font-weight: 500;
    margin-right: 20px;
}