#root, #app {
    height: 100%;
    bottom: 0;
    position: absolute;
    width: 100%;
}

#page-container {
    position: absolute;
    background: #fff;
    bottom: 0px;
    overflow: hidden;
    top: 40px;
    width: 100%;
}

#sider {
    width: 200px;
    overflow: hidden;
    position: relative;
    bottom: 0;
    height: 100%;
    background: #eee;
    padding-top: 20px;
}

#main-content {
    position: absolute;
    top: 0;
    left: 200px;
    right: 0;
    bottom: 0;
    overflow: auto;
    overflow-x: none;
    padding: 10px;
}

#main-content .toolbar {
    margin: -10px;
    margin-bottom: 10px;
}