.container {
  text-align: center;
}

.login-panel {
  position: absolute;
  /* right: 40%; */
  bottom: 40%;
  background: #ddd;
  width: 100%;
  padding: 20px;
  text-align: center;
  height: 120px;
  overflow: hidden;
}

.login-form {
  
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}